In [1]:
import pandas as pd

In [2]:
filename = "./OptimalK_K3000_R25000_F250_data.pkl"

In [3]:
df = pd.read_pickle(filename)
# df = df.loc[:, ['title','clusterlabel', 'abstract']]
print("Shape: ", df.shape)
print("Column: ", df.columns)

Shape:  (750, 5)
Column:  Index(['k', 'silhouette_score', 'davies_bouldin_score', 'time', 'seconds'], dtype='object')

In [4]:
df.head()

    k  silhouette_score  davies_bouldin_score            time    seconds
0   2          0.186961              2.020054 00:00:05.872456   5.872456
1   6          0.101542              2.518397 00:00:31.583310  31.583310
2  10          0.080925              2.697997 00:00:29.467424  29.467424
3  14          0.076075              2.766926 00:00:35.081601  35.081601
4  18          0.078534              2.733507 00:01:08.541626  68.541626

In [16]:
s = df["seconds"].sum()
print(s)
print("Hours = {}".format(s/3600))

215769.589251
Hours = 59.93599701416667

In [5]:
# %gui qt5 
# from PyQt5.QtWidgets import QWidget,QScrollArea, QTableWidget, QVBoxLayout,QTableWidgetItem
# import pandas as pd

# win = QWidget()
# scroll = QScrollArea()
# layout = QVBoxLayout()
# table = QTableWidget()
# scroll.setWidget(table)
# layout.addWidget(table)
# win.setLayout(layout)    


# df = temp
# table.setColumnCount(len(df.columns))
# table.setRowCount(len(df.index))
# for i in range(len(df.index)):
#     for j in range(len(df.columns)):
#         table.setItem(i,j,QTableWidgetItem(str(df.iloc[i, j])))

# win.show()

In [6]:
# data_table = df.to_html("sample.html", classes="table display")
# data_table = data_table.replace('border="1"','border="0"')

In [24]:
sortdf = df.sort_values(by=["silhouette_score", "davies_bouldin_score"], ascending=False)

In [25]:
sortdf.head(20)

        k  silhouette_score  davies_bouldin_score            time     seconds
0       2          0.186961              2.020054 00:00:05.872456    5.872456
1       6          0.101542              2.518397 00:00:31.583310   31.583310
2      10          0.080925              2.697997 00:00:29.467424   29.467424
4      18          0.078534              2.733507 00:01:08.541626   68.541626
3      14          0.076075              2.766926 00:00:35.081601   35.081601
748  2994          0.071387              2.076486 00:09:34.595677  574.595677
670  2682          0.071296              2.154418 00:08:26.563972  506.563972
525  2102          0.070988              2.373573 00:06:43.342533  403.342533
514  2058          0.070916              2.396980 00:06:28.394457  388.394457
601  2406          0.070787              2.262624 00:07:28.460100  448.460100
745  2982          0.070644              2.072664 00:09:40.339963  580.339963
530  2122          0.070593              2.367001 00:06:37.219164  397.219164
550  2202          0.070470              2.324918 00:06:55.679821  415.679821
626  2506          0.070455              2.229367 00:07:51.190012  471.190012
490  1962          0.070436              2.465382 00:06:07.077321  367.077321
743  2974          0.070337              2.086115 00:09:12.814548  552.814548
563  2254          0.070304              2.310980 00:07:02.249404  422.249404
574  2298          0.070277              2.296824 00:07:08.578793  428.578793
692  2770          0.070236              2.148618 00:08:37.427034  517.427034
720  2882          0.070228              2.102764 00:09:00.595329  540.595329