In [3]:
import numpy as np 
import pandas as pd
import pickle

In [2]:
df = pd.DataFrame()

In [6]:
df = pickle.load(open("KMEANS_glove_pmeans5_K50_R3000_F250_clustered_megadf.pkl", "rb"))

In [7]:
df.head()

,id,title,abstract,embedding,clusterlabel
0,395086,Soft coral,"[soft, coral, could, drifa, glomerata, fam, al...","[0.1048434150393569, -0.022277361643991286, -0...",3
1,395088,Amphipod,"[identified, specimen, collected, rov, suction...","[0.52842, -0.1687455, 0.40093833333333334, -0....",39
2,395097,Soft coral,"[soft, coral, could, drifa, glomerata, fam, al...","[0.1048434150393569, -0.022277361643991286, -0...",3
3,395102,Stalked sponge,"[small, mm, egg, shaped, sponge, anchored, sed...","[0.07919400708734191, 0.42536576316588975, -0....",16
4,395105,Branched sponge (unidentified),"[branching, sponge, oscular, visible, typicall...","[0.16442311594651932, 0.30571671712325205, -0....",49

In [12]:
df["embedding"].iloc[0].shape

(250,)